<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/main.css" />
  <link href="/docs/docs.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>Typography</title>
</head>

<body>
  <header class="header-nav">
    <a href="/index.html" class="header-logo-link">
      <img class="header-logo-img" src="/assets/jurassic-park-logo.png" alt="jurassic-park-logo" />
      <p class="header-logo-name">Raptor UI</p>
    </a>
    <div class="header-nav-links">
      <nav>
        <ul>
          <li><a href="/docs.html" class="header-link">Docs</a></li>
          <li><a href="/components-list.html" class="header-link">Components</a></li>
          <li><a href="https://github.com/MarkVed17/raptor-ui" class="header-link">Github</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <!-- Typography -->
    <div class="component-headings">
      <h1 class="component-name">Typography</h1>
      <p class="component-description">Basic text writing, including headings, body text, fonts, quotes, and more.</p>
    </div>

    <!-- Headings -->
    <h1>Headings</h1>
    <div class="typography-container headings-format">
      <h1>h1. Raptor UI</h1>
      <h2>h2. Raptor UI</h2>
      <h3>h3. Raptor UI</h3>
      <h4>h4. Raptor UI</h4>
      <h5>h5. Raptor UI</h5>
      <h6>h6. Raptor UI</h6>
    </div>

    <pre class="code"><code class="language-html">
        &lth1>h1. Raptor UI&lt/h1&gt
        &lth2&gth2. Raptor UI&lt/h2&gt
        &lth3&gth3. Raptor UI&lt/h3&gt
        &lth4&gth4. Raptor UI&lt/h4&gt
        &lth5&gth5. Raptor UI&lt/h5&gt
        &lth6&gth6. Raptor UI&lt/h6&gt</code>
    </pre>

    <!-- Fonts -->
    <h1>Fonts</h1>
    <div class="typography-container format">
      <p class="jp-font-fam">Welcome to Jurassic Park</p>
      <p class="ptsans-font-fam">Welcome to Jurassic Park</p>
    </div>

    <pre class="code"><code class="language-html">
      &ltp class="jp-font-fam">Welcome to Jurassic Park&lt/p&gt
      &ltp class="ptsans-font-fam"&gtWelcome to Jurassic Park&lt/p&gt</code>
    </pre>

    <!-- Quote -->
    <h1>Quote</h1>
    <div class="typography-container format">
      <blockquote class="quote-border">
        "God Creates Dinosaurs. God Destroys Dinosaurs. God Creates Man. Man
        Destroys God. Man Creates Dinosaurs."
        <br />
        <span class="quote-writer gray-text"><span>&#8212;</span>Dr. Ian Malcolm</span>
      </blockquote>
    </div>

    <pre class="code"><code class="language-html">
      &ltblockquote class="quote-border"&gt
        "God Creates Dinosaurs. God Destroys Dinosaurs. God Creates Man. Man
        Destroys God. Man Creates Dinosaurs."
        &ltbr /&gt
        &ltspan class="quote-writer gray-text"&gt&ltspan&gt&#8212;&lt/span&gtDr. Ian Malcolm&lt/span&gt
      &lt/blockquote&gt</code>
    </pre>

    <!-- Paragraph -->
    <h1>Paragraph</h1>
    <div class="typography-container format">
      <p>
        Just a paragraph - Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Architecto tempora assumenda doloribus dicta quibusdam vitae.
        Tempore aut impedit deserunt eum neque, rerum optio dolore repellat
        sed quibusdam illum hic cum adipisci molestias ea accusantium
        reiciendis, alias possimus et! Exercitationem facilis aut error. Et,
        laborum.
      </p>
    </div>

    <pre class="code"><code class="language-html">
      &ltp&gt
        Just a paragraph - Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Architecto tempora assumenda doloribus dicta quibusdam vitae.
        Tempore aut impedit deserunt eum neque, rerum optio dolore repellat
        sed quibusdam illum hic cum adipisci molestias ea accusantium
        reiciendis, alias possimus et! Exercitationem facilis aut error. Et,
        laborum.
      &lt/p&gt
    </code>
    </pre>

    <!-- Gray Text -->
    <h1>Gray Text</h1>
    <div class="typography-container format">
      <p class="gray-text">This is a gray text</p>
    </div>

    <pre class="code"><code class="language-html">
      &ltp class="gray-text"&gtThis is a gray text&lt/p&gt</code>
    </pre>

    <!-- Centered Text -->
    <h1>Centered Text</h1>
    <div class="typography-container">
      <p class="center-text">This is a centered text</p>
    </div>

    <pre class="code"><code class="language-html">
      &ltp class="center-text"&gtThis is a centered text&lt/p&gt</code>
    </pre>

    <!-- Small Text -->
    <h1>Small Text</h1>
    <div class="typography-container format">
      <p class="small-text">This is a small text.</p>
    </div>

    <pre class="code"><code class="language-html">
      &ltp class="small-text"&gtThis is a small text.&lt/p&gt</code>
    </pre>

    <!-- Inline text Utilities -->
    <h1>Inline Text Utilities</h1>
    <div class="typography-container format">
      <p>You can use the mark tag to <mark>highlight</mark> text.</p>
      <p>
        <del>This line of text is meant to be treated as deleted text.</del>
      </p>
      <p><u>This line of text will render as underlined</u></p>
      <p><strong>This line rendered as bold text.</strong></p>
      <p><em>This line rendered as italicized text.</em></p>
    </div>

    <pre class="code"><code class="language-html">
      &ltp&gtYou can use the mark tag to &ltmark&gthighlight&lt/mark&gt text.&lt/p&gt
      &ltp&gt
        &ltdel&gtThis line of text is meant to be treated as deleted text.&lt/del&gt
      &lt/p&gt
      &ltp&gt&ltu&gtThis line of text will render as underlined&lt/u&gt&lt/p&gt
      &ltp&gt&ltstrong&gtThis line rendered as bold text.&lt/strong&gt&lt/p&gt
      &ltp&gt&ltem&gtThis line rendered as italicized text.&lt/em&gt&lt/p&gt</code>
    </pre>

    <!-- Color Text -->
    <h1>Colored Text</h1>
    <div class="typography-container format">
      <p class="primary-text">Primary Colored Text</p>
      <p class="secondary-text">Secondary Colored Text</p>
      <p class="accent-text">Accent Colored Text</p>
      <p class="success-text">Success Colored Text</p>
      <p class="warning-text">Warning Colored Text</p>
      <p class="danger-text">Danger Colored Text</p>
      <p class="gray-text">Gray Colored Text</p>
    </div>

    <pre class="code"><code class="language-html">
      &ltp class="primary-text"&gtPrimary Colored Text&lt/p&gt
      &ltp class="secondary-text"&gtSecondary Colored Text&lt/p&gt
      &ltp class="accent-text"&gtAccent Colored Text&lt/p&gt
      &ltp class="success-text"&gtSuccess Colored Text&lt/p&gt
      &ltp class="warning-text"&gtWarning Colored Text&lt/p&gt
      &ltp class="danger-text"&gtDanger Colored Text&lt/p&gt
      &ltp class="gray-text"&gtGray Colored Text&lt/p&gt</code>
    </pre>
  </div>

  <!-- Prism JS -->
  <script src="/docs/docs.js"></script>
</body>

</html>