<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>Typography</title>
  </head>
  <body>
    <header class="header-nav">
      <a href="/index.html" class="header-logo-link">
        <img
          class="header-logo-img"
          src="/assets/jurassic-park-logo.png"
          alt="jurassic-park-logo"
        />
        <p class="header-logo-name">Raptor UI</p>
      </a>
      <div class="header-nav-links">
        <nav>
          <ul>
            <li><a href="#" class="header-link">Docs</a></li>
            <li><a href="/components-list.html" class="header-link">Components</a></li>
            <li><a href="https://github.com/MarkVed17/raptor-ui" class="header-link">Github</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <!-- Headings -->
      <div class="typography-container headings-format">
        <h1>h1. Raptor UI</h1>
        <h2>h2. Raptor UI</h2>
        <h3>h3. Raptor UI</h3>
        <h4>h4. Raptor UI</h4>
        <h5>h5. Raptor UI</h5>
        <h6>h6. Raptor UI</h6>
      </div>

      <!-- Fonts -->
      <div class="typography-container format">
        <p class="jp-font-fam">Welcome to Jurassic Park</p>
        <p class="ptsans-font-fam">Welcome to Jurassic Park</p>
      </div>

      <!-- Quote -->
      <div class="typography-container format">
        <blockquote class="quote-border">
          "God Creates Dinosaurs. God Destroys Dinosaurs. God Creates Man. Man
          Destroys God. Man Creates Dinosaurs."
          <br />
          <span class="quote-writer gray-text"
            ><span>&#8212;</span>Dr. Ian Malcolm</span
          >
        </blockquote>
      </div>

      <!-- Paragraph -->
      <div class="typography-container format">
        <p>
          Just a paragraph - Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Architecto tempora assumenda doloribus dicta quibusdam vitae.
          Tempore aut impedit deserunt eum neque, rerum optio dolore repellat
          sed quibusdam illum hic cum adipisci molestias ea accusantium
          reiciendis, alias possimus et! Exercitationem facilis aut error. Et,
          laborum.
        </p>
      </div>

      <!-- Gray Text -->
      <div class="typography-container format">
        <p class="gray-text">This is a gray text</p>
      </div>

      <!-- Centered Text -->
      <div class="typography-container">
        <p class="center-text">This is a centered text</p>
      </div>

      <!-- Small Text -->
      <div class="typography-container format">
        <p class="small-text">This is a small text.</p>
      </div>

      <!-- Inline text Utilities -->
      <div class="typography-container format">
        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
        <p>
          <del>This line of text is meant to be treated as deleted text.</del>
        </p>
        <p><u>This line of text will render as underlined</u></p>
        <p><strong>This line rendered as bold text.</strong></p>
        <p><em>This line rendered as italicized text.</em></p>
      </div>

      <!-- Color Text -->
      <div class="typography-container format">
        <p class="primary-text">Primary Colored Text</p>
        <p class="secondary-text">Secondary Colored Text</p>
        <p class="accent-text">Accent Colored Text</p>
        <p class="success-text">Success Colored Text</p>
        <p class="warning-text">Warning Colored Text</p>
        <p class="danger-text">Danger Colored Text</p>
        <p class="gray-text">Gray Colored Text</p>
      </div>
    </div>
  </body>
</html>
