@import url(/components/avatar/avatar.css);
@import url(/components/badge/badge.css);
@import url(/components/alert/alert.css);
@import url(/components/button/button.css);
@import url(/components/card/card.css);
@import url(/components/input/input.css);
@import url(/components/responsive-img/responsive-img.css);
@import url(components/typography/typography.css);
@import url(/components/rating/rating.css);
@import url(/components/navbar/navbar.css);
@import url(/components/typography/typography.css);
@import url(/components/grid/grid.css);
@import url(/components/slider/slider.css);

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@font-face {
  font-family: Jurassic Park;
  src: url(/assets/JurassicPark-BL48.ttf);
}

/* Colors */
:root {
  --primary-color: #00919c;
  --secondary-color: #8b0000;
  --accent-color: #ced02d;
  --ghost-color: #ffffff;
  --neutral-color: #cccccc;
  --font-color: #cccccc;
  --info-color: #153450;
  --success-color: #274916;
  --warning-color: #594214;
  --danger-color: #58181c;
  --body-bg-color: #101212;
  --base-gray-color: #808080;
  --leaf-green-color: #87d039;
  --comp-container-color: #1d1d1d;
  --primary-alert-color: #111b26;
  --success-alert-color: #162312;
  --warning-alert-color: #2b2111;
  --danger-alert-color: #2a1215;
  --card-bg-color: #27272785;
  --card-hover-color: #252525;
  --rating-color: #ffff00;
  --input-bg-color: #2e2e2e;
  --input-border-color: #575757;
  --input-outline-color: #222222;
  --input-valid-color: #00ff84;
  --input-error-color: #ff3a3d;
}

/* Reset */
body,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Body Style*/
body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: var(--body-bg-color);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
}

blockquote {
  font-style: italic;
  padding: 0rem 0.5rem;
}

.gray-text {
  color: var(--base-gray-color);
}

.center-text {
  text-align: center;
}

.small-text {
  font-size: 0.8rem;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.accent-text {
  color: var(--accent-color);
}

.success-text {
  color: var(--success-color);
}

.warning-text {
  color: var(--warning-color);
}

.danger-text {
  color: var(--danger-color);
}

.gray-text {
  color: var(--base-gray-color);
}

/* Header */
.header-nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
  font-family: Jurassic Park;
  letter-spacing: 1px;
}

.header-logo-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: none;
}

.header-logo-img {
  width: 48px;
  height: 48px;
  padding-left: 1rem;
}

.header-logo-name {
  font-size: 2.5rem;
  color: var(--font-color);
  text-transform: lowercase;
  padding-left: 6px;
}

.header-nav-links {
  margin-left: auto;
}

.header-nav-links > nav > ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-right: 10px;
  font-size: 2rem;
  color: var(--base-gray-color);
}

.header-link {
  text-decoration: none;
  color: var(--base-gray-color);
  padding-bottom: 5px;
}

.header-link:hover {
  border-bottom: 1.5px solid var(--base-gray-color);
}
