<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>Buttons</title>
  </head>
  <body>
    <header class="header-nav">
      <a href="/index.html" class="header-logo-link">
        <img
          class="header-logo-img"
          src="/assets/jurassic-park-logo.png"
          alt="jurassic-park-logo"
        />
        <p class="header-logo-name">Raptor UI</p>
      </a>
      <div class="header-nav-links">
        <nav>
          <ul>
            <li><a href="#" class="header-link">Docs</a></li>
            <li><a href="/components-list.html" class="header-link">Components</a></li>
            <li><a href="https://github.com/MarkVed17/raptor-ui" class="header-link">Github</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="buttons-container">
      <div class="btn-brand-colors">
        <button class="btn btn-neutral">neutral</button>
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-secondary">secondary</button>
        <button class="btn btn-accent">accent</button>
        <button class="btn btn-ghost">ghost</button>
        <button class="btn btn-link"><a href="button.html">link</a></button>
      </div>

      <div class="btn-active-state">
        <button class="btn btn-neutral">neutral</button>
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-secondary">secondary</button>
        <button class="btn btn-accent">accent</button>
        <button class="btn btn-ghost">ghost</button>
        <button class="btn btn-link"><a href="button.html">link</a></button>
      </div>

      <div class="btn-outline">
        <button class="btn btn-neutral">neutral</button>
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-secondary">secondary</button>
        <button class="btn btn-accent">accent</button>
      </div>

      <div class="btn-disabled">
        <button class="btn">neutral</button>
        <button class="btn btn-primary">primary</button>
        <button class="btn btn-secondary">secondary</button>
        <button class="btn btn-accent">accent</button>
      </div>

      <div class="btn-state-colors">
        <button class="btn btn-info">info</button>
        <button class="btn btn-success">success</button>
        <button class="btn btn-warning">warning</button>
        <button class="btn btn-danger">danger</button>
      </div>

      <div class="btn-size simple">
        <button class="btn simple-lg">Large</button>
        <button class="btn simple-regular">Medium</button>
        <button class="btn simple-sm">Small</button>
        <button class="btn simple-xs">Tiny</button>
      </div>

      <div class="btn-size simple btn-simple-outline">
        <button class="btn simple-lg">Large</button>
        <button class="btn simple-regular">Medium</button>
        <button class="btn simple-sm">Small</button>
        <button class="btn simple-xs">Tiny</button>
      </div>

      <div class="btn-size circle">
        <button class="btn circle-lg">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-regular">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-sm">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-xs">
          <span class="material-icons"> close </span>
        </button>
      </div>

      <div class="btn-size circle floating-action">
        <button class="btn circle-lg">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-regular">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-sm">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-xs">
          <span class="material-icons"> close </span>
        </button>
      </div>

      <div class="btn-size circle btn-circle-outline">
        <button class="btn circle-lg">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-regular">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-sm">
          <span class="material-icons"> close </span>
        </button>
        <button class="btn circle-xs">
          <span class="material-icons"> close </span>
        </button>
      </div>
    </div>
  </body>
</html>
