<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="/main.css" />
  <link href="/docs/docs.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>Buttons</title>
</head>

<body>
  <header class="header-nav">
    <a href="/index.html" class="header-logo-link">
      <img class="header-logo-img" src="/assets/jurassic-park-logo.png" alt="jurassic-park-logo" />
      <p class="header-logo-name">Raptor UI</p>
    </a>
    <div class="header-nav-links">
      <nav>
        <ul>
          <li><a href="/docs.html" class="header-link">Docs</a></li>
          <li>
            <a href="/components-list.html" class="header-link">Components</a>
          </li>
          <li>
            <a href="https://github.com/MarkVed17/raptor-ui" class="header-link">Github</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <!-- Button -->
    <div class="component-headings">
      <h1 class="component-name">Button</h1>
      <p class="component-description">Buttons allows user to take actions or make choices.</p>
    </div>

    <h1>Brand Button</h1>
    <div class="buttons-container">
      <button class="btn btn-brand btn-neutral">neutral</button>
      <button class="btn btn-brand btn-primary">primary</button>
      <button class="btn btn-brand btn-secondary">secondary</button>
      <button class="btn btn-brand btn-accent">accent</button>
      <button class="btn btn-brand btn-ghost">ghost</button>
      <button class="btn btn-brand btn-link">
        <a href="buttons.html">link</a>
      </button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn btn-brand btn-neutral"&gtneutral&lt/button&gt
&ltbutton class="btn btn-brand btn-primary"&gtprimary&lt/button&gt
&ltbutton class="btn btn-brand btn-secondary"&gtsecondary&lt/button&gt
&ltbutton class="btn btn-brand btn-accent"&gtaccent&lt/button&gt
&ltbutton class="btn btn-brand btn-ghost"&gtghost&lt/button&gt
&ltbutton class="btn btn-brand btn-link"&gt
  &lta href="buttons.html"&gtlink&lt/a&gt
&lt/button&gt</code>
    </pre>

    <h1>Button with an active state</h1>
    <div class="buttons-container">
      <button class="btn btn-active-state btn-neutral">neutral</button>
      <button class="btn btn-active-state btn-primary">primary</button>
      <button class="btn btn-active-state btn-secondary">secondary</button>
      <button class="btn btn-active-state btn-accent">accent</button>
      <button class="btn btn-active-state btn-ghost">ghost</button>
      <button class="btn btn-active-state btn-link">
        <a href="buttons.html">link</a>
      </button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn btn-active-state btn-neutral"&gtneutral&lt/button&gt
&ltbutton class="btn btn-active-state btn-primary"&gtprimary&lt/button&gt
&ltbutton class="btn btn-active-state btn-secondary"&gtsecondary&lt/button&gt
&ltbutton class="btn btn-active-state btn-accent"&gtaccent&lt/button&gt
&ltbutton class="btn btn-active-state btn-ghost"&gtghost&lt/button&gt
&ltbutton class="btn btn-active-state btn-link"&gt
  &lta href="buttons.html"&gtlink&lt/a&gt
&lt/button&gt</code>
    </pre>

    <h1>Button with an outline</h1>
    <div class="buttons-container">
      <button class="btn btn-outline btn-neutral">neutral</button>
      <button class="btn btn-outline btn-primary">primary</button>
      <button class="btn btn-outline btn-secondary">secondary</button>
      <button class="btn btn-outline btn-accent">accent</button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn btn-outline btn-neutral"&gtneutral&lt/button&gt
&ltbutton class="btn btn-outline btn-primary"&gtprimary&lt/button&gt
&ltbutton class="btn btn-outline btn-secondary"&gtsecondary&lt/button&gt
&ltbutton class="btn btn-outline btn-accent"&gtaccent&lt/button&gt</code>
    </pre>

    <h1>Button with a disabled state</h1>
    <div class="buttons-container">
      <button class="btn btn-disabled">neutral</button>
      <button class="btn btn-disabled btn-primary">primary</button>
      <button class="btn btn-disabled btn-secondary">secondary</button>
      <button class="btn btn-disabled btn-accent">accent</button>
    </div>

    <pre class="code"><code class="language-html">
  &ltbutton class="btn btn-disabled"&gtneutral&lt/button&gt
  &ltbutton class="btn btn-disabled btn-primary"&gtprimary&lt/button&gt
  &ltbutton class="btn btn-disabled btn-secondary"&gtsecondary&lt/button&gt
  &ltbutton class="btn btn-disabled btn-accent"&gtaccent&lt/button&gt</code>
    </pre>

    <h1>Button with state color</h1>
    <div class="buttons-container">
      <button class="btn btn-state-colors btn-info">info</button>
      <button class="btn btn-state-colors btn-success">success</button>
      <button class="btn btn-state-colors btn-warning">warning</button>
      <button class="btn btn-state-colors btn-danger">error</button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn btn-state-colors btn-info"&gtinfo&lt/button&gt
&ltbutton class="btn btn-state-colors btn-success"&gtsuccess&lt/button&gt
&ltbutton class="btn btn-state-colors btn-warning"&gtwarning&lt/button&gt
&ltbutton class="btn btn-state-colors btn-danger"&gterror&lt/button&gt</code>
    </pre>

    <h1>Button Size</h1>
    <div class="buttons-container">
      <button class="btn simple-lg">Large</button>
      <button class="btn simple-regular">Medium</button>
      <button class="btn simple-sm">Small</button>
      <button class="btn simple-xs">Tiny</button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn simple-lg"&gtLarge&lt/button&gt
&ltbutton class="btn simple-regular"&gtMedium&lt/button&gt
&ltbutton class="btn simple-sm"&gtSmall&lt/button&gt
&ltbutton class="btn simple-xs"&gtTiny&lt/button&gt</code>
    </pre>

    <h1>Button Size with an outline</h1>
    <div class="buttons-container">
      <button class="btn btn-simple-outline simple-lg">Large</button>
      <button class="btn btn-simple-outline simple-regular">Medium</button>
      <button class="btn btn-simple-outline simple-sm">Small</button>
      <button class="btn btn-simple-outline simple-xs">Tiny</button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn btn-simple-outline simple-lg"&gtLarge&lt/button&gt
&ltbutton class="btn btn-simple-outline simple-regular"&gtMedium&lt/button&gt
&ltbutton class="btn btn-simple-outline simple-sm"&gtSmall&lt/button&gt
&ltbutton class="btn btn-simple-outline simple-xs"&gtTiny&lt/button&gt</code>
    </pre>

    <h1>Round Buttons Size</h1>
    <div class="buttons-container">
      <button class="btn circle circle-lg">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle circle-regular">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle circle-sm">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle circle-xs">
        <span class="material-icons"> close </span>
      </button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn circle circle-lg"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle circle-regular"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle circle-sm"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle circle-xs"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt</code>
    </pre>

    <h1>Button with floating action</h1>
    <div class="buttons-container">
      <button class="btn circle floating-action circle-lg">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle floating-action circle-regular">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle floating-action circle-sm">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle floating-action circle-xs">
        <span class="material-icons"> close </span>
      </button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn circle floating-action circle-lg"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle floating-action circle-regular"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle floating-action circle-sm"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle floating-action circle-xs"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt</code>
    </pre>

    <h1>Round Button with an outline</h1>
    <div class="buttons-container">
      <button class="btn circle btn-circle-outline circle-lg">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle btn-circle-outline circle-regular">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle btn-circle-outline circle-sm">
        <span class="material-icons"> close </span>
      </button>
      <button class="btn circle btn-circle-outline circle-xs">
        <span class="material-icons"> close </span>
      </button>
    </div>

    <pre class="code"><code class="language-html">
&ltbutton class="btn circle btn-circle-outline circle-lg"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle btn-circle-outline circle-regular"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle btn-circle-outline circle-sm"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt
&ltbutton class="btn circle btn-circle-outline circle-xs"&gt
  &ltspan class="material-icons"&gt close &lt/span&gt
&lt/button&gt</code>
  </pre>

  </div>


  <!-- Prism JS -->
  <script src="/docs/docs.js"></script>
</body>

</html>