<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>Navbar</title>
  </head>
  <body>
    <header class="header-nav">
      <a href="/index.html" class="header-logo-link">
        <img
          class="header-logo-img"
          src="/assets/jurassic-park-logo.png"
          alt="jurassic-park-logo"
        />
        <p class="header-logo-name">Raptor UI</p>
      </a>
      <div class="header-nav-links">
        <nav>
          <ul>
            <li><a href="#" class="header-link">Docs</a></li>
            <li><a href="/components-list.html" class="header-link">Components</a></li>
            <li><a href="https://github.com/MarkVed17/raptor-ui" class="header-link">Github</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="navbar-container">
      <!-- Simple Navbar -->
      <header class="header-nav simple-nav">
        <a href="" class="header-logo-link">
          <img
            class="header-logo-img"
            src="/assets/jurassic-park-logo.png"
            alt="jurassic-park-logo"
          />
          <p class="header-logo-name">Raptor UI</p>
        </a>
        <div class="header-nav-links">
          <nav>
            <ul>
              <li><a href="#" class="header-link">link 1</a></li>
              <li><a href="#" class="header-link">link 2</a></li>
              <li><a href="#" class="header-link">link 3</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>

    <!-- Navbar with a searchbar -->
    <div class="navbar-container">
      <header class="header-nav nav-search">
        <a href="" class="header-logo-link">
          <img
            class="header-logo-img"
            src="/assets/jurassic-park-logo.png"
            alt="jurassic-park-logo"
          />
          <p class="header-logo-name">Raptor UI</p>
        </a>

        <div class="std-search">
          <input
            type="text"
            placeholder="Search..."
            class="input standard nav-searchbar"
          />
          <button class="btn btn-brand btn-accent search-btn nav-searchbar-btn">
            <span class="material-icons nav-search-icon"> search </span>
          </button>
        </div>

        <div class="header-nav-links">
          <nav>
            <ul>
              <li><a href="#" class="header-link">link 1</a></li>
              <li><a href="#" class="header-link">link 2</a></li>
              <li><a href="#" class="header-link">link 3</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>

    <!-- Navbar with a menu -->
    <div class="navbar-container">
      <header class="header-nav nav-search nav-menu">
        <button class="btn nav-menu-btn">
          <span class="material-icons nav-menu-icon"> menu </span>
        </button>
        <a href="" class="header-logo-link">
          <img
            class="header-logo-img header-menu"
            src="/assets/jurassic-park-logo.png"
            alt="jurassic-park-logo"
          />
          <p class="header-logo-name">Raptor UI</p>
        </a>

        <div class="header-nav-links">
          <nav>
            <ul>
              <li><a href="#" class="header-link">link 1</a></li>
              <li><a href="#" class="header-link">link 2</a></li>
              <li><a href="#" class="header-link">link 3</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>

    <!-- Navbar with a menu & searchbar -->
    <div class="navbar-container">
      <header class="header-nav nav-search nav-menu">
        <button class="btn nav-menu-btn">
          <span class="material-icons nav-menu-icon"> menu </span>
        </button>
        <a href="" class="header-logo-link">
          <img
            class="header-logo-img header-menu"
            src="/assets/jurassic-park-logo.png"
            alt="jurassic-park-logo"
          />
          <p class="header-logo-name">Raptor UI</p>
        </a>

        <div class="std-search">
          <input
            type="text"
            placeholder="Search..."
            class="input standard nav-searchbar"
          />
          <button class="btn btn-brand btn-accent search-btn nav-searchbar-btn">
            <span class="material-icons nav-search-icon"> search </span>
          </button>
        </div>

        <div class="header-nav-links">
          <nav>
            <ul>
              <li><a href="#" class="header-link">link 1</a></li>
              <li><a href="#" class="header-link">link 2</a></li>
              <li><a href="#" class="header-link">link 3</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
  </body>
</html>
