<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>Rating</title>
  </head>
  <body>
    <header class="header-nav">
      <a href="/index.html" class="header-logo-link">
        <img
          class="header-logo-img"
          src="/assets/jurassic-park-logo.png"
          alt="jurassic-park-logo"
        />
        <p class="header-logo-name">Raptor UI</p>
      </a>
      <div class="header-nav-links">
        <nav>
          <ul>
            <li><a href="#" class="header-link">Docs</a></li>
            <li><a href="/components-list.html" class="header-link">Components</a></li>
            <li><a href="https://github.com/MarkVed17/raptor-ui" class="header-link">Github</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <!-- Basic Rating -->
      <div class="rating-container format">
        <div class="rating simple">
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>

      <!-- Ratings - Small -->
      <div class="rating-container format">
        <div class="rating-sm">
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>

      <!-- Ratings - Regular -->
      <div class="rating-container format">
        <div class="rating sm">
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
        </div>
      </div>

      <!-- Ratings - Large -->
      <div class="rating-container format">
        <div class="rating-lg">
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star_half </span>
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>

      <!-- Ratings - Massive -->
      <div class="rating-container format">
        <div class="rating-xl">
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star_border </span>
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>
    </div>
  </body>
</html>
