<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>Alerts</title>
  </head>
  <body>
    <header class="header-nav">
      <a href="/index.html" class="header-logo-link">
        <img
          class="header-logo-img"
          src="/assets/jurassic-park-logo.png"
          alt="jurassic-park-logo"
        />
        <p class="header-logo-name">Raptor UI</p>
      </a>
      <div class="header-nav-links">
        <nav>
          <ul>
            <li><a href="#" class="header-link">Docs</a></li>
            <li><a href="/components-list.html" class="header-link">Components</a></li>
            <li><a href="https://github.com/MarkVed17/raptor-ui" class="header-link">Github</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="alerts-container">
      <div class="alert primary">
        <strong>Primary alert!</strong>
        <p class="alert-message">This is a primary alert with some content.</p>
      </div>
      <div class="alert success">
        <strong>Success alert!</strong>
        <p class="alert-message">
          This is a secondary alert with some content.
        </p>
      </div>
      <div class="alert warning">
        <strong>Warning alert!</strong>
        <p class="alert-message">This is a warning alert with some content.</p>
      </div>
      <div class="alert danger">
        <strong>Danger alert!</strong>
        <p class="alert-message">This is a danger alert with some content.</p>
      </div>
    </div>
  </body>
</html>
